
// Base
@import 'variables';
@import 'mixins';

// Load partials here
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/bio';
@import 'partials/whatis';
@import 'partials/founder';
@import 'partials/press';
@import 'partials/footer';

// font
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

// Globals
.contain {
	max-width: 1200px;
	margin: 0 auto;
	padding: $contain-padding;
	text-align: center;
}

.row { margin: 0px; }

* {
	font-family: "quicksand"
}

.hideOnLoad {
	opacity: 0;
}

#map {
	height: 500px;
}