#founder {
	.contain {
		padding-bottom: 140px;
		p {
			font-size: 18px;
		}
		.row {
			padding-top: 100px;
			.founder-col {
				text-align: left;
			}
			.nolo-col {
				text-align: left;
				padding-left: 60px;
				svg {
					fill: #303030;
				}
			}
		}
		img {
			max-height: 260px;
		}
	}
	@media screen and (max-width: $break-small) {
		.contain .row {
			padding-top: 20px;
			.founder-col, .nolo-col {
				text-align: center;
				padding: 20px 0px;
			}
		}
	}
}